<div class="center jumbotron">
  <h1>Welcome to the Global Parts Operations System</h1>

  <%#= link_to "Create an account now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

  <%= image_tag("half_Globe2 copy.gif", alt: "GPO corporate logo")%>
  
